.profile__add-post{
  border: 2px solid white;
  background: none;
  background-image: url(../../../images/addPost.svg);
  width: 150px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: 2px;
}

.profile__add-post:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 740px) {
  .profile__add-post {
    margin: 0 auto;
    width: 282px;
    background-image: url(../../../images/addPostSmall.svg);
  }
}