.profile__info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 740px) {
  .profile__info-container {
    max-width: 222px;
    justify-content: center;
  }
}